@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

main {
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  height: calc(100vw / 0.21357);
  min-height: 3950px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

.topnav {
  position: fixed;
  top: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 18.769%;
  background-image: url('../resource/images/section-1/Kaleab-Portifolio-2023-BG_01.jpg');
  background-position: center;
  background-size: cover;
}

.section-1-left-top {
  background-color: black;
  width: 25.5%;
  height: 45.76%;
  position: absolute;
  top: 10.13%;
  left: 6.5%;
}

.section-1-rigth-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 4.26%;
  right: 4.3%;
  width: 34.6875%;
  height: 28.8%;

  p {
    color: aliceblue; 
    font-size: calc(0.5em + 1vw);
  }

  .name {
    color: aliceblue; 
    font-size: calc(3em + 5vw);
    overflow: hidden;
  }
}

.section-1-bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 39%;
  height: 24.5%;
  top: 73.6%;
  right: 0%;

  h1 {
    color: aliceblue; 
    font-size: calc(1em + 2.2vw);
    font-style: italic;
  }

  section {
    color: aliceblue; 
    font-size: calc(1em + 0.3vw);
    height: 60%;
    display: flex;
    align-items: center;
    border: #f2f2f2 6px solid;
    border-right: none;
    padding-left: 7%;
    padding-right: 8%;
    @media screen and (max-width: 1000px) {
      padding-right: none;
      padding-left: 1%;
      font-size: 1em;    
    }
  
  }

}

.section-1-bottom-left {
  background-color: black;
  width: 25.78%;
  height: 32.13%;
  position: absolute;
  top: 65.797%;
  left: 7.8%;
}




.section-2 {
  position: relative;
  width: 100%;
  height: 12.10503%;
  background-image: url('../resource/images/section-2/Kaleab-Portifolio-2023-BG_02.jpeg');
  background-position: center;
  background-size: cover;
}

.section-3 {
  position: relative;
  width: 100%;
  height: 12.2162%;
  background-image: url('../resource/images/section-3/Kaleab-Portifolio-2023-BG_03.jpeg');
  background-position: center;
  background-size: cover;
}

.section-4 {
  position: relative;
  width: 100%;
  height: 9.5%;
  background-image: url('../resource/images/section-4/Kaleab-Portifolio-2023-BG_04.jpeg');
  background-position: center;
  background-size: cover;
}


.section-5 {
  position: relative;
  width: 100%;
  height: 14.31%;
  background-image: url('../resource/images/section-5/Kaleab-Portifolio-2023-BG_05.jpeg');
  background-position: center;
  background-size: cover;
}

.section-6 {
  position: relative;
  width: 100%;
  height: 18.124%;
  background-image: url('../resource/images/section-6/Kaleab-Portifolio-2023-BG_06.jpeg');
  background-position: center;
  background-size: cover;
}

.section-7 {
  position: relative;
  width: 100%;
  height: 15.04%;
  background-image: url('../resource/images/section-7/Kaleab-Portifolio-2023-BG_07.jpeg');
  background-position: center;
  background-size: cover;
}
